.cxx
local.properties

# JS Dependencies
**/node_modules/
**/dist/
**/build/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Android
*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
.externalNativeBuild/

