*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# JS Dependencies
node_modules/
backend-server/node_modules/
web-dashboard/node_modules/
dist/
web-dashboard/dist/
